
<div class="content-container login-content-container">
  <%= form_for :user, :url => { :action => 'parse_login' }, :html=>{:class=>"user-form"} do |form| %>
    <p>
      <%= form.label :email %><br>
      <%= form.text_field :email %>
    </p>

    <p>
      <%= form.label :password %><br>
      <%= form.password_field :pass %>
    </p>

    <p>
      <%= form.submit 'Login' %>
    </p>
  <% end %>
</div>
