<div class="content-container default-content-container">
<%= form_for :project, :url => { :action => 'create' }, :html=>{:class=>"user-form"} do |form| %>
 <p>
   <%= form.label :manager %><br>
   <%= form.text_field :manager %>
 </p>
  <p>
   <%= form.label :status %><br>
   <%= form.select :status, ['Proposed', 'Suspended', 'Postponed', 'Cancelled', 'In progress'] %>
 </p>
  <p>
   <%= form.label :name %><br>
   <%= form.text_field :name %>
 </p>
  <p>
   <%= form.label :budget %><br>
   <%= form.text_field :budget %>
 </p>
  <p>
   <%= form.submit 'Create' %>
 </p>
<% end %>
</div>
