<div style="width: 1400px; margin: auto">
  <div class="content-container default-content-container" style="width: 600px; float: left">
    <span class="txt-highl">Projects you manage: </span><br>
    <hr>
    <% @projects.each do |proj| %>
      |<%= proj.id %>| <%= proj.name %> <%= proj.status %> <%= proj.budget %>
      <%= link_to 'Edit', url_for(:controller => :projects, :action => :update, :id => proj.id) %>
      <%= link_to 'Delete', url_for(:controller => :projects, :method => :destroy, :id => proj.id) %>
      <%= link_to 'Add member', url_for(:controller => :projects, :action => :addmem, :id => proj.id) %><br>

      <span class="txt-highl">Members:</span> <br>
      <% proj.members_getter.each do |membr| %>
        <%= membr unless membr.eql?(nil)%>
        <%= link_to 'Remove', url_for(:controller => :projmems, :id => proj.id, :member => membr) %>
        <br>
      <% end %>

      <br>
      <hr>
    <% end %>
    <%= link_to 'Create project', url_for(:controller => :projects, :action => :create) %>
  </div>

  <div class="content-container default-content-container" style="float: left; width: 600px; margin-left: 50px;">

    <canvas id="myChart" width="400" height="250"></canvas>
    <script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
    </script>
  </div>
</div>
